<%= form_for(@friend) do |f| %>
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-11 small-centered columns">
      <%= f.label :name %><br>  
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-11 small-centered columns">
      <%= f.label :lastname %><br>
      <%= f.text_field :lastname %>
    </div>
  </div>

  <div class="row">
    <div class="small-11 small-centered columns">
      <%= f.label :telephone %><br>
      <%= f.number_field :telephone %>
    </div>
  </div>

  <div class="row">
    <div class="small-11 small-centered columns">
      <%= f.submit %>
    </div>
  </div>
<% end %>
